alabaster==0.7.13
awscli==1.32.11
Babel==2.14.0
botocore==1.34.11
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.4
coverage==7.4.0
docutils==0.16
flake8==6.1.0
idna==3.6
imagesize==1.4.1
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.3
mccabe==0.7.0
packaging==23.2
pyasn1==0.5.1
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.17.2
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
rsa==4.7.2
s3transfer==0.10.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
-e git+https://github.com/sujeetmohanty11/swiggy-top3-recco.git@96f2c5ad76dee6fcbb335638aae6a53bc1bc586e#egg=src
urllib3==2.0.7
